/*
Theme Name: Martfury
 | Shared by VestaThemes.com
Description: Used to style the TinyMCE editor.
*/


/**
 * Table of Contents:
 *
 * 1.0 - Body
 * 2.0 - Typography
 * 3.0 - Elements
 * 4.0 - Alignment
 * 5.0 - Galleries
 */

/**
 * 1.0 - Body
 */

body {
	color: #666;
	font-size: 14px;
	font-family: 'Work Sans', Arial, sans-serif;
	line-height: 1.6;
	background: #fff;
	word-wrap: break-word;
}

/**
 * 2.0 - Typography
 */

a {
	-webkit-transition: 0.5s;
	transition: 0.5s;
	color: #0066cc;
	text-decoration: none;
}
a:hover,
a:focus {
	text-decoration: none;
}
a:hover #fcb800
	color: #fcb800;
}
a img {
	border: none;
}
img {
	max-width: 100%;
	height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	font-family: 'Work Sans', Arial, sans-serif;
	line-height: 1.2;
	color: #000;
}
h1 {
	font-size: 36px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 12px;
}
ul {
	list-style-type: square;
	padding-left: 20px;
}
li {
	margin-bottom: 7px;
}
p {
	margin-bottom: 1.7em;
	margin-top: 0;
}



/**
 * 3.0 - Elements
 */

hr {
	background-color: #bbb;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

input[type=text],
textarea {
	border: 1px solid #999;
	background: #fff;
}
blockquote {#fcb800
	border-left: 4px solid #fcb800;
	padding: 0 40px 0 60px;
	margin: 0 0 10px;
	color: #000;
	font-size: 24px;
	font-family: 'Libre Baskerville', "Times New Roman", Times, serif;
}
blockquote cite {
	display: block;
	font-style: normal;
	color: #000;
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'Work Sans', Arial, sans-serif;
	font-weight: 600;
	margin-top: 20px;
}
blockquote cite:before {
	content: '\e7e5';
	display: inline-block;
	font: normal normal normal 14px/1 linearicons;
	font-size: 20px;
	padding-right: 15px;
	color: #999;
}
pre {
	background: #f5f5f5;
	color: #666;
	font-family: monospace;
	font-size: 14px;
	margin: 20px 0;
	overflow: auto;
	padding: 20px;
	white-space: pre-wrap;
	word-wrap: break-word;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
}
caption,
td,
th {
	padding: 0;
	font-weight: normal;
	text-align: left;
}
table,
th,
td {
	border: 1px solid #d1d1d1;
}
th {
	border-width: 0 1px 1px 0;
	font-weight: 700;
}
td {
	border-width: 0 1px 1px 0;
}
th,
td {
	padding: 0.4375em;
}
dl {
	margin: 0 0 1.75em;
}
dt {
	font-weight: 700;
}
dd {
	margin: 0 0 1.75em;
}
/**
 * 4.0 - Alignment
 */

img {
	height: auto; /* Make sure images are scaled correctly. */
	width: inherit;  /* Make images fill their parent's space. Solves IE8. */
	max-width: 100%; /* Adhere to container width. */
}

embed,
iframe,
object {
	margin-bottom: 1.5em;
	max-width: 100%;
}


/**
 * 5.0 - Galleries
 */

.gallery {
	margin-left: -15px;
	margin-right: -15px;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
	margin: 30px 0 0 0;
	padding: 0 15px;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-columns-10 .gallery-item {
	max-width: 10%;
}

.gallery-caption {
	display: block;
}