.martfury-modal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	z-index: -1;

	&.open {
		display: block;
		z-index: 999999;
	}

}

.mf-quick-view-modal {
	.mf-loading {
		display: none;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 10;
	}

	.close-modal {
		position: absolute;
		top: 6px;
		right: 10px;
		z-index: 999;
		font-size: 26px;
		color: #666;
		opacity: 0;

		&:hover {
			color: @dark;
		}
	}

	&.loaded {
		.close-modal {
			opacity: 1;
		}
	}

	&.loading .mf-loading {
		display: block;
	}

	.modal-header {
		display: none;
	}

	.mf-modal-overlay {
		background-color: rgba(0, 0, 0, 0.85);
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.modal-content {
		transform: translate(-50%, -50%);
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		padding-top: 0;
		background-color: transparent;
		max-width: 1000px;
	}

	div.product {
		background-color: @light;
		width: 100%;
		padding-left: 0;
		padding-right: 0;

		.product-degree-images,
		.product-image-ms {
			display: none;
		}

		.woocommerce-product-gallery {
			min-height: 430px;

			&.images {
				padding-left: 0;
				padding-bottom: 0;
			}
		}

		.product_title a {
			color: @dark;
		}

		.entry-summary {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			overflow: auto;
			padding: 30px 30px 0;
		}

		.mf-entry-product-header .entry-left {
			max-width: 100%;
		}

		.entry-summary::-webkit-scrollbar {
			display: none;
		}

		.woocommerce-product-gallery__image {
			width: 100%;
		}

		.slick-slider {
			.slick-arrow {
				position: absolute;
				font-size: 30px;
				cursor: pointer;
				color: @gray;
				transition: 0.5s;
				z-index: 999;
				opacity: 0;

				&:hover {
					color: @dark;
				}
			}

			.slick-disabled {
				color: #ccc;
				cursor: auto;

				&:hover {
					color: #ccc;
				}
			}

			.slick-prev-arrow {
				left: -20px;
			}

			.slick-next-arrow {
				right: -20px;
				left: auto;
			}

			&:hover {
				.slick-prev-arrow {
					left: 5px;
					opacity: 1;
				}

				.slick-next-arrow {
					right: 5px;
					opacity: 1;
				}
			}
		}

	}
}

.mf-newsletter-popup {
	display: block;
	opacity: 0;
	transition: opacity 0.35s;
	z-index: -9999;
	transform: scaleX(0);

	&.open {
		opacity: 1;
		transform: scaleX(1);
	}

	.mf-modal-overlay {
		background-color: rgba(0, 0, 0, 0.85);
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.modal-content {
		transition: transform 0.5s;
		transform: translate(-50%, -50%);
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		padding-top: 0;
		background-color: @light;
		max-width: 830px;

		.close-modal {
			position: absolute;
			top: 10px;
			right: 10px;
			width: 40px;
			height: 40px;
			text-align: center;
			line-height: 42px;
			background-color: @dark;
			color: @light;
			z-index: 10;
		}
	}

	.newletter-content {
		padding: 55px 55px 30px;
		text-align: center;
		position: relative;

		.n-image {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: -1;
			background-position: center;
			background-size: cover;
		}

		.nl-inner {
			width: 360px;
		}

		.n-desc {
			margin-bottom: 35px;
			h3, h2 {
				font-weight: 400;
				line-height: 1;
				margin: 0 0 20px;
			}

			p {
				white-space: pre-line;
				margin-bottom: 0;
			}
		}

		.mc4wp-form {
			input[type=email] {
				width: 100%;
				text-align: center;
				height: 44px;
				line-height: 44px;
				margin-bottom: 20px;
				border-color: #c9c9c9;
			}

			input[type="submit"] {
				.btn-primary();
				.btn-small();
				border-radius: 4px;
			}
		}

		.n-close {
			display: inline-block;
			margin-top: 45px;
			color: @dark;
			position: relative;
			padding-left: 25px;

			&:before {
				position: absolute;
				top: 3px;
				left: 0;
				width: 16px;
				height: 16px;
				border: 1px solid @dark;
				content: "";
				border-radius: 3px;
			}
		}
	}
}