.mf-light-skin {
	.site-header .products-search .search-submit,
	.site-header .extras-menu > li > a .mini-item-counter,
	.woocommerce a.button,
	.woocommerce button.button,
	.woocommerce input.button,
	.woocommerce #respond input#submit,
	&.woocommerce a.button,
	&.woocommerce button.button,
	&.woocommerce input.button,
	&.woocommerce #respond input#submit,
	&.woocommerce a.button.alt:hover,
	&.woocommerce button.button.alt:hover,
	&.woocommerce input.button.alt:hover,
	&.woocommerce #respond input#submit.alt:hover,
	.woocommerce a.button.alt:hover,
	.woocommerce button.button.alt:hover,
	.woocommerce input.button.alt:hover,
	.woocommerce #respond input#submit.alt:hover,
	ul.products li.product .mf-product-thumbnail .footer-button > a:hover,
	ul.products li.product .mf-product-thumbnail .footer-button .added_to_cart:hover,
	ul.products li.product .mf-product-thumbnail .compare-button .compare:hover,
	ul.products li.product .mf-product-thumbnail .yith-wcwl-add-to-wishlist .yith-wcwl-add-button > a:hover,
	ul.products li.product .mf-product-thumbnail .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse > a:hover,
	ul.products li.product .mf-product-thumbnail .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse > a:hover,
	.site-footer .footer-newsletter .newsletter-form .mc4wp-form-fields input[type="submit"],
	.martfury-newletter .mc4wp-form input[type="submit"],
	&.header-layout-2 .site-header .primary-nav > ul > li > a,
	&.header-layout-3 .site-header .extras-menu > li > a,
	&.header-layout-3 .site-header .products-cats-menu .cats-menu-title,
	&.header-layout-3 .site-header .recently-viewed .recently-title,
	&.header-layout-3 .site-header .header-bar,
	&.header-layout-3 .site-header .header-bar a,
	&.header-layout-3 .site-header .header-bar #lang_sel a.lang_sel_sel,
	&.header-layout-3 .site-header .header-bar #lang_sel > ul > li > a:after,
	&.header-layout-3 .site-header .header-bar .lang_sel a.lang_sel_sel,
	&.header-layout-3 .site-header .header-bar .lang_sel > ul > li > a:after,
	&.header-layout-3 .site-header .header-bar .mf-currency-widget .current:hover,
	&.header-layout-3 .site-header .header-bar .mf-currency-widget .current:after,
	&.header-layout-4 .site-header .products-cats-menu .cats-menu-title,
	&.header-layout-4 .site-header .extras-menu > li > a,
	&.header-layout-4 .topbar,
	&.header-layout-4 .topbar a,
	&.header-layout-4 .topbar #lang_sel a.lang_sel_sel,
	&.header-layout-4 .topbar #lang_sel > ul > li > a:after,
	&.header-layout-4 .topbar .lang_sel a.lang_sel_sel,
	&.header-layout-4 .topbar .lang_sel > ul > li > a:after,
	&.header-layout-4 .topbar .mf-currency-widget .current:hover,
	&.header-layout-4 .topbar .mf-currency-widget .current:after,
	&.header-layout-3 .topbar,
	&.header-layout-3 .topbar a,
	&.header-layout-3 .topbar #lang_sel a.lang_sel_sel,
	&.header-layout-3 .topbar #lang_sel > ul > li > a:after,
	&.header-layout-3 .topbar .lang_sel a.lang_sel_sel,
	&.header-layout-3 .topbar .lang_sel > ul > li > a:after,
	&.header-layout-3 .topbar .mf-currency-widget .current:hover,
	&.header-layout-3 .topbar .mf-currency-widget .current:after,
	nav.woocommerce-pagination ul li span.current,
	nav.woocommerce-pagination ul li a:hover,
	.page-header-catalog .page-title .entry-title,
	.mf-product-deals-grid .cat-header .cat-title,
	div.product form.cart .single_add_to_cart_button,
	&.woocommerce-cart .woocommerce table.cart .btn-shop,
	&.woocommerce-cart .woocommerce table.checkout .btn-shop,
	.wpcf7 input[type="submit"],
	.martfury-button.color-dark a,
	.dokan-seller-listing .store-footer .dokan-btn,
	.martfury-member .name,
	.martfury-member .member-content,
	.martfury-member .socials a,
	.comment-respond .form-submit .submit,
	&.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li.is-active a,
	.mf-product-fbt .product-buttons .mf_add_to_cart_button,
	.dokan-dashboard .dokan-dashboard-wrap .dokan-btn,
	.dokan-widget-area .seller-form .dokan-btn,
	.dokan-widget-area .seller-form .dokan-btn:hover,
	.dokan-widget-area .dokan-store-contact .dokan-btn,
	.dokan-widget-area .dokan-store-contact .dokan-btn:hover ,
	.widget .mc4wp-form input[type="submit"],
	&.shop-view-list .mf-shop-content ul.products li.product .mf-product-details .mf-product-price-box .button,
	.mf-newsletter-popup .newletter-content .mc4wp-form input[type="submit"],
	&.header-layout-3 .site-header .products-cats-menu .menu > li:hover > a,
	&.shop-view-list .mf-shop-content ul.products li.product .mf-product-details .mf-product-price-box .added_to_cart.wc-forward,
	.btn{
		color: @light;
	}

	&.header-layout-3 .site-header .products-cats-menu:before {
		background-color: @light;
	}

	&.header-layout-3 .site-header .header-bar .mf-currency-widget ul li a,
	&.header-layout-4 .topbar .mf-currency-widget ul li a {
		color: #666;

		&:hover {
			color: @dark;
		}
	}

	&.header-layout-4 .topbar .widget:after,
	&.header-layout-3 .site-header .header-bar .widget:after {
		background-color: rgba(255, 255, 255, 0.45);
	}

	&.header-layout-3 .site-header .main-menu {
		border-color: rgba(255, 255, 255, 0.15);
	}

	&.header-layout-2 .site-header .primary-nav > ul > li.current-menu-parent > a,
	&.header-layout-2 .site-header .primary-nav > ul > li.current-menu-item > a,
	&.header-layout-2 .site-header .primary-nav > ul > li.current-menu-ancestor > a {
		color: rgba(255, 255, 255, 0.7);
	}

	&.woocommerce #respond input#submit.loading,
	&.woocommerce a.button.loading,
	&.woocommerce button.button.loading,
	&.woocommerce input.button.loading  {
		&:after {
			border-color: #fff #fff #fff transparent;
		}
	}
}