.wcv-header-container {
	background-color: transparent;

	#inner-element {
		max-width: 100%;
		left: 0;
		right: 0;
		padding: 0;

		.store-brand {
			padding-left: 0;
			margin-right: 0;
			width: 100%;
			.store-icon {
				float: none;
				margin-right: 0;
				border-radius: 0;
			}

			ul.social-icons {

				margin: 10px 0 10px;
				padding: 0;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				li {
					list-style: none;
					display: inline-block;
					margin-bottom: 10px;
					margin-right: 10px;

					a {
						text-align: center;
						font-size: 19px;
						display: block;
						color: #666;
					}

				}
			}
		}

		.store-info {
			text-align: center;
			padding-left: 0;
			width: 100%;

			& > h3 {
				font-size: 20px;
				text-transform: uppercase;
				margin: 0 0 7px;
				line-height: 1;
				font-weight: 600;
			}

			& > p {
				max-width: 600px;
				margin: 15px auto 0;
			}
		}
	}

}

.wcv-store-address-container {
	padding: 10px 0;
	.wcv-store-grid__col {
		width: 100%;
		text-align: center;
	}

	.store-phone a {
		float: none;
	}
}

.widget_vendor_info {
	.store-content {
		padding: 25px 25px 35px;
		background-color: #f1f1f1;

		& > h1 {
			font-size: 20px;
			font-weight: 600;
			text-transform: uppercase;
			margin: 0 0 20px;
			padding-bottom: 20px;
			line-height: 1;
			border-bottom: 1px solid #d5d5d5;
		}
	}

	.wcv-header-container {
		background-color: transparent;
	}

	.wcv-store-header {
		h1 {
			border-bottom: none;
			padding-bottom: 0;
			margin: 0 0 7px;
		}
	}

	.wcv-store-header {
		border-bottom: 1px solid #d5d5d5;
		padding-bottom: 18px;
		margin-bottom: 18px;

		.store-name {
			font-size: 20px;
			font-weight: 600;
			text-transform: uppercase;
			margin: 0 0 7px;
			line-height: 1;
			font-weight: 600;
			a {
				font-size: 24px;
				color: @dark;
			}
		}

		.store-banner {
			display: none;
		}

		#inner-element {
			position: static;
			background-color: transparent;
			max-width: 100%;
			padding: 0;

			.store-info {
				text-align: left;
				margin-right: 0;
				padding-left: 0;
			}
		}

		.wcv-store-ratings {
			font-size: 16px;

			i {
				color: #666;
			}
			& > a {
				color: #666;
				display: flex;
				align-items: center;

				i {
					color: #fcb800;
					display: inline-block;
					letter-spacing: 2px;

					&:last-child {
						margin-right: 5px;
					}
				}
			}

			.star-rating {
				margin-right: 5px;
			}

			.wcmp_total_rating_number {
				display: none;
			}

		}
	}

	.wcv-store-description {
		border-bottom: 1px solid #d5d5d5;
		padding-bottom: 18px;
		margin-bottom: 18px;
		p {
			margin-bottom: 0;
		}
	}

	.wcv-store-info {
		.label {
			color: @dark;
			font-weight: 500;
		}

		.social-icons {
			margin: 10px 0 10px;
			padding: 0;
			display: flex;
			flex-wrap: wrap;
			li {
				list-style: none;
				display: inline-block;
				margin-bottom: 10px;
				margin-right: 10px;

				a {
					width: 36px;
					height: 36px;
					text-align: center;
					line-height: 37px;
					font-size: 19px;
					color: @light;
					background-color: #1b4e9b;
					display: block;
					border-radius: 3px;
				}

				.social-instagram {
					background-color: #521313;
				}
				.social-twitter {
					background-color: #00aeef;
				}
				.social-googleplus {
					background-color: #cc0000;
				}
				.social-pinterest {
					background-color: #C92228;
				}
				.social-youtube {
					background-color: #cc181e;
				}
				.social-linkedin {
					background-color: #0077b5;
				}
				.social-snapchat {
					background-color: #fffc00;
				}
			}
		}
	}

	.store-address {
		margin-bottom: 15px;
		a {
			line-height: 1;
			color: #666;

			&:hover {
				color: @dark;
			}
		}
	}

	.store-phone {
		.phone-number {
			display: block;
			font-size: 20px;
			font-weight: 600;
			color: @dark;
		}
	}

	.store-contact {
		margin-top: 15px;
		a {
			display: block;
			color: @dark;
			font-weight: 600;
		}
	}
}

.wcv-form {
	input[type=color],
	input[type=date],
	input[type=datetime-local],
	input[type=datetime],
	input[type=email],
	input[type=month],
	input[type=number],
	input[type=password],
	input[type=search],
	input[type=tel],
	input[type=text],
	input[type=time],
	input[type=url],
	input[type=week],
	input[type=decimal],
	select,
	textarea {
		font-family: @font-family-primary;
		font-weight: 400;
		padding: 12px 10px;
		border: 1px solid #e1e1e1;
		color: @dark;

		&:focus {
			box-shadow: none;
			border-color: #e1e1e1;
		}

		&.select2-input {
			border: none;
		}
	}
}

.wcv-ratings-page {
	.entry-content {
		& > .entry-title {
			font-size: 24px;
			font-weight: 600;
			border-bottom: 1px solid #f1f1f1;
			margin: 0 0 20px;
			padding-bottom: 10px;
		}

		.product-rate {
			border-bottom: 1px solid #f1f1f1;
			padding-bottom: 15px;
			margin-bottom: 20px;
		}

		.product-title {
			color: @dark;
		}

		input[type=text],
		textarea {
			border: 1px solid #d9d9d9;
			margin-bottom: 15px;
			padding: 15px;
			width: 100%;
		}

		input[type=submit] {
			.btn-secondary();
		}

		.control-group {
			margin-top: 10px;
			margin-bottom: 10px;
			input[type=radio] {
				display: none;
				&:checked + .wcv_star-rating {

					&:before {
						content: "\5c";
					}
				}
			}

			.wcv_star-rating {
				display: inline-block;
				color: #fcb800;
				position: relative;
				line-height: 1;
				font-size: 14px;
				padding-left: 25px;
				cursor: pointer;

				&:before {
					content: "\5b";
					font-family: ElegantIcons;
					font-size: 18px;
					position: absolute;
					top: -2px;
					left: 0;
					color: #666;
					transition: 0.5s;
				}
			}
		}
	}
}

.mf-store-ratings-content {
	.page-title {
		font-size: 20px;
		font-weight: 600;
		padding-bottom: 10px;
		border-bottom: 1px solid #f1f1f1;
		margin: 0 0 20px;
	}

	.rating-html {
		i {
			color: #fcb800;
			font-size: 14px;
			letter-spacing: 2px;
		}
	}

	.product-title {
		font-size: 14px;
		color: #0066cc;
		font-weight: 400;
		margin: 0 0 5px;
	}

	.rating-comment {
		margin-top: 15px;
	}

	.btn-return {
		.btn-secondary();
		.btn-small();
		display: inline-block;
	}
}

.mf-vendor-header-tabs {
	background-color: #f5f5f5;
	padding: 9px 15px;
	margin-bottom: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			display: inline-block;
			margin-bottom: 0;
			padding: 0 15px;

			&:first-child {
				padding-left: 0;
			}

			a {
				color: #999999;
				font-weight: 600;
				font-size: 16px;

				&:hover,
				&.active {
					color: @dark;
				}

			}
		}
	}

	.vendor-search {
		position: relative;
		min-width: 40%;
		.search-input {
			height: 33px;
			line-height: 33px;
			border-color: #b8b8b8;
			width: 100%;
		}

		&:after {
			.icon('\e922');
			position: absolute;
			top: 10px;
			right: 10px;
			font-weight: 600;
		}

		.btn-button {
			position: absolute;
			top: 10px;
			right: 10px;
			width: 14px;
			height: 14px;
			opacity: 0;
			z-index: 10;
		}
	}
}

.wcv_store_search {
	.wcv-store-search {
		position: relative;
		.search-field {
			height: 33px;
			line-height: 33px;
			border: 1px solid #b8b8b8;
			width: 100%;
			padding: 5px 10px;
		}

		&:after {
			.icon('\e922');
			position: absolute;
			top: 10px;
			right: 10px;
			font-weight: 600;
		}

		input[type="submit"] {
			position: absolute;
			top: 10px;
			right: 10px;
			width: 14px;
			height: 14px;
			opacity: 0;
			z-index: 10;
		}
	}
}

form {
	.form-row {
		.input-checkbox#apply_for_vendor {
			opacity: 0;
			display: none;

			&:checked + label[for="apply_for_vendor"] {

				&:before {
					content: "\e999";
				}
			}
		}
		label[for="apply_for_vendor"] {
			display: inline-block;
			color: @dark;
			text-transform: inherit;
			position: relative;
			line-height: 1;
			padding-left: 30px;
			cursor: pointer;

			&:before {
				.icon('\e98d');
				font-size: 18px;
				position: absolute;
				top: -3px;
				left: 0;
				color: @dark;
				transition: 0.5s;
			}

		}

		input[name="apply_for_vendor_submit"] {
			.btn-secondary();
			line-height: 40px;
			height: 40px;
		}
	}
}

.mf-vendors-dashboard {
	.mf-vendors-links {
		text-align: center;
		background-color: #f5f5f5;
		padding: 20px 0;

		.button {
			font-size: 18px;
			font-weight: 600;
			line-height: 1;
			color: #999;
			padding: 0 19px;

			&.active,
			&:hover {
				color: @dark;
			}
		}
	}

	& > h2 {
		font-size: 24px;
		font-weight: 600;
		margin: 50px 0 30px;
		padding-bottom: 15px;
		border-bottom: 1px solid #e1e1e1;
	}

	.search-date {
		display: flex;
		align-items: center;
		margin-bottom: 30px;

		.date-box {
			margin-right: 30px;
			display: flex;
			align-items: center;
		}

		label {
			padding: 8px 12px;
			background-color: #f5f5f5;
			font-weight: 600;
			border: 1px solid #e1e1e1;
			border-right: none;
		}

		.date-pick {
			border: 1px solid #e1e1e1;
			border-left: none;
			padding: 9px 10px 8px;
		}
	}

	.btn {
		.btn-secondary();
		.btn-small();
		border: none;
		padding: 0 35px;
		min-width: 120px;
	}

	.table-vendor-sales-report {
		color: @dark;
		th,
		td {
			padding: 10px 20px;
		}

		th {
			background-color: #f4f4f4;
			text-transform: uppercase;
		}

		.product a {
			font-weight: 400;
			color: #0066cc;
		}
	}
}

.wcvendors-pro-dashboard-wrapper {
	.wcv-navigation {
		ul.menu {
			background-color: #f5f5f5;
			text-align: center;

			li {
				float: none;
				display: inline-block;
				padding: 15px 20px;

				a {
					font-size: 18px;
					font-weight: 600;
					line-height: 1;
					color: #999;
					padding: 0;

					&:hover {
						color: @dark;
						background-color: transparent;
					}
				}

				&.active,
				&:hover {
					background-color: transparent;

					a {
						color: @dark;
					}
				}
			}
		}
	}

	.button {
		.btn-primary();
		.btn-small();
		display: inline-block;

		&:hover {
			color: @dark;
		}
	}

	.wcv-button {
		.btn-secondary();
		.btn-small();

		&:hover {
			color: @light !important;
		}
	}

	.wcv-grid {
		& > .button {
			.btn-small();

			&.shop_coupon {
				.btn-secondary();
				height: 40px;
				line-height: 40px;
			}
		}

		h3 {
			font-size: 24px;
			font-weight: 600;
			color: @dark;
		}

		a:hover {
			text-decoration: none;
		}

		hr {
			display: none;
		}

		.wcv-table {
			color: @dark;
			th,
			td {
				padding: 10px;
				border-color: #e1e1e1;
				border-right: none;
			}
			th {
				background-color: #f4f4f4;
				text-transform: uppercase;
			}

			td {

				h4 {
					font-size: 14px;
					color: @dark;
					font-weight: 400;
					margin-bottom: 5px;
				}

				strong {
					font-weight: 400;
				}

				a {
					color: #0066cc;
				}

				.woocommerce-Price-amount {
					color: @dark;
				}

				.row-actions {
					a {
						color: #0066cc;
						font-size: 14px;

						&:hover {
							color: @primary-color;
						}
					}
				}
			}
		}

		.wcv_search_results {
			font-style: normal;
		}

	}

	.wcv_dashboard_datepicker {
		margin-top: 40px;
	}

	.wcv_dashboard_datepicker,
	.wcv-order-header {
		.wcv-form {

			.control-group,
			.wcv-cols-group,
			.control {
				display: flex;
				align-items: center;
				line-height: 1;
			}

			.control {
				width: 100%;

				& > .wcv-button {
					width: auto;
				}
			}

			.wcv-cols-group {
				label {
					padding: 12px;
					background-color: #f5f5f5;
					font-weight: 600;
					border: 1px solid #e1e1e1;
					border-right: none;
					white-space: nowrap;
				}
			}

			.wcv-datepicker {
				border: 1px solid #e1e1e1;
				border-left: none;
				padding: 11px 10px;
				width: 100%;

				&:focus {
					box-shadow: none;
					border-color: #e1e1e1;
				}
			}

			.wcv-button {
				border: none;
				width: auto;
				padding: 0 30px;
				font-weight: 600;
				min-width: 120px;
				margin-left: 20px;

				&:hover {
					color: @light !important;
				}
			}
		}
	}

	.wcv-tabs,
	.wcv-product-type {
		.control-group {
			.inline {
				input[type=checkbox] {
					opacity: 0;
					display: none;

					&:checked + label {
						color: @dark;
						&:before {
							content: "\e999";
						}
					}

					& + label {
						display: inline-block;
						color: @dark;
						text-transform: inherit;
						position: relative;
						line-height: 1;
						padding-left: 30px;
						cursor: pointer;

						&:before {
							.icon('\e98d');
							font-size: 18px;
							position: absolute;
							top: -3px;
							left: 0;
							color: @dark;
							transition: 0.5s;
						}

					}
				}
			}
		}

	}

	.wcv_dashboard_overview {
		margin-top: 30px;

		.wcv-table {
			color: @dark;
			td {
				border-color: #e1e1e1;
				padding: 10px;
				&:first-child {
					background-color: #f4f4f4;
				}

				strong {
					text-transform: uppercase;
				}
			}
		}
	}

	.wcv_reports {
		#products_chart {
			margin-top: 20px;
		}
	}

	.show_if_downloadable {
		.button.insert {
			.btn-secondary();
		}
	}

	.wcv_recent_orders {
		margin-top: 50px;

		.wcv-table {
			color: @dark;
			th,
			td {
				padding: 10px 0 10px 10px;
				border-color: #e1e1e1;
				border-right: none;
			}
			th {
				background-color: #f4f4f4;
				text-transform: uppercase;
			}

			td {
				strong {
					font-weight: 400;
				}

				a {
					color: #0066cc;
				}

				.woocommerce-Price-amount {
					color: @dark;
				}
			}
		}
	}

	.wcv-search {
		.wcv-form {
			input[type=text] {
				line-height: 40px;
				height: 40px;
			}

			.control-group .control.append-button {
				display: flex;
				align-items: center;
			}
		}
	}

	.wcv_dashboard_table_header {
		br {
			display: none;
		}
	}

	.wcv-order-header {
		display: flex;
		margin-top: 20px;

		.all-50 {
			width: 100%;
		}

		.wcv-form {
			display: flex;
			align-items: center;
			.all-66,
			.all-33 {
				width: 100%;
			}
			.control-group .control > input {
				min-width: 150px;
			}
		}
	}

	.wcv_actions {
		margin-bottom: 20px;
		.wcv-button {
			&:hover {
				color: @light !important;
			}
		}
	}

	.wcv-form {
		.wcv-tabs.top > .tabs-nav li {
			position: relative;

			&:after {
				position: absolute;
				bottom: 0;
				right: 0;
				width: 0;
				background-color: @primary-color;
				content: "";
				height: 3px;
				transition: 0.5s;
			}
			a {
				border-radius: 0;
				border: none;
				margin-right: 0;
				font-size: 16px;
				font-weight: 600;
				color: #999;

				&:hover {
					color: @dark;
					background-color: transparent;
				}
			}

			&.active {
				a {
					color: @dark;
				}

				&:after {
					width: 100%;
					left: 0;
					right: auto;
				}
			}

			&:first-child {
				a {
					padding-left: 0;
				}
			}
		}

		.tabs-content {
			label {
				color: @dark;
				text-transform: uppercase;
				font-weight: 600;
			}
		}
	}

	.wcv-form p.tip {
		font-size: 12px;
		text-transform: uppercase;
	}

	.select2-container .select2-choice,
	.select2-container-multi .select2-choices {
		border-color: #e1e1e1;
		height: 42px;
		line-height: 40px;
		border-radius: 0;

		.select2-arrow {
			background-color: transparent;
			border: none;
			b {
				background-position: 0 7px;
			}
		}
	}

	nav.woocommerce-pagination {
		text-align: right;

		&.loaded {
			display: none;
		}
		ul {
			border: none;
			li {
				border-right-width: 0;
				margin: 0;
				padding: 0 5px;
				list-style: none;
				display: inline-block;

				.page-numbers {
					color: @dark;
					font-size: 14px;
					text-align: center;
					padding: 0 12px;
					height: 32px;
					line-height: 32px;
					display: block;
					background-color: #f5f5f5;
					min-width: 34px;

					&.next,
					&.prev {
						padding: 0 20px;
					}

					i {
						font-size: 10px;
						font-weight: 700;
					}
				}

				&:first-child {
					margin-left: 0;
				}

				a:focus {
					background-color: transparent;
					outline: none;
				}

				span.current,
				a:hover {
					color: @dark;
					background-color: @primary-color;
				}

				.next,
				.prev {
					span {
						&:hover {
							color: @dark;
							background-color: transparent;
						}
					}

				}

				.next {
					padding-left: 10px;
				}

				.prev {
					padding-right: 10px;
				}
			}
		}

		&.infinite {
			text-align: center;
			ul {

				li {
					padding: 0;
				}

				.page-numbers {
					display: none;
				}

				.next {
					display: block;
					padding-left: 0;
				}
			}

			.dots-loading {
				font-size: 18px;
				letter-spacing: 15px;
				text-transform: uppercase;
				font-weight: 300;

				span {
					display: inline-block;
				}

			}
		}

	}
}

.woocommerce div.product .wc-tabs-wrapper {
	#tab-vendor_ratings_tab {

		& > a,
		& > h4 {
			color: @dark;

			i {
				color: #fcb800;
			}
		}

	}

	#tab-wcv_shipping_tab {
		& > h2 {
			font-size: 20px;
			font-weight: 600;
			margin-top: 0;
		}

		strong {
			color: @dark;
			font-weight: 600;
		}

		h5, h6, h4, h3 {
			font-weight: 600;
		}

		h3 {
			font-size: 18px;
			margin-bottom: 10px;
		}

		table {
			width: 100%;
			border: 1px solid #d1d1d1;
			th,
			td {
				padding: 5px 20px;
				border-style: solid;
				border-width: 0 1px 1px 0;
				border-color: #d1d1d1;
			}

			th {
				font-weight: 600;
				color: #333;
				text-transform: uppercase;
				background-color: #f2f2f2;
			}
		}
	}
}

.wocommerce  {
	#wcmp_vendor_reviews {
		padding-top: 70px;

		#comments h2 {
			font-weight: 600;
			font-size: 24px;
		}
	}
}
