.wdi_clear {
  clear: both;
}

.wdi_feed_main_container .table {
  display: table;
}

.wdi_feed_main_container .table-cell {
  display: table-cell;
}

.wdi_feed_main_container .table-row {
  display: table-row;
}

.wdi_feed_main_container {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

.wdi_follow_button:hover {
  cursor: pointer;
}

.wdi_hidden {
  display: none !important;
}

.wdi_hover_off:hover {
  background-color: transparent !important;
}

.wdi_cursor_off:hover {
  cursor: auto !important;
}

.wdi_filter_active span {
  color: white;
}

.wdi_disabled {
  visibility: hidden;
}

/*=========================================================*/

.wdi_ajax_loading {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0;
  right: 0;
  bottom: -50px;
  margin: auto;
  z-index: 100;

}

.wdi_feed_main_container {
  width: 100%;
  position: relative;
}

.wdi_feed_main_container .wdi_img {
  margin: 0; /*reset style*/
}

.wdi_feed_main_container .wdi_follow_btn {
  display: inline-block;
  background: 0 0;
  border-style: solid;
  border-width: 1px;
  font-weight: 500;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-appearance: none;
  vertical-align: text-bottom;
}

.wdi_feed_main_container .wdi_follow_btn:hover {
  cursor: pointer;
}

.wdi_feed_main_container .wdi_pagination {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

.wdi_feed_main_container .wdi_pagination_ctrl {
  display: inline-block;
}

.wdi_feed_main_container .wdi_pagination_ctrl:hover {
  cursor: pointer;
}

.wdi_feed_main_container .wdi_filter_icon span {
  display: block;
  font-size: 25px;
  color: white;
}

.wdi_feed_main_container .wdi_filter_icon span::before {
  width: 20px;
  height: 20px;
  position: absolute;
  opacity: 1;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.wdi_photo_img {
  position: relative;
  overflow: hidden;

}

.wdi_photo_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  transition: all 0.1s ease;
}

.wdi_thumb_icon i {
  display: none;
  transition: all 0.1s ease;
}

.wdi_photo_overlay:hover .wdi_thumb_icon i {
  display: block;
}

.wdi_feed_main_container .fa {
  font-family: FontAwesome !important;
  font-style: normal;
  width: auto;/*for Hueman theme*/
}
.wdi_media_info .fa:before {
    margin-right: 6px;
}

/**************************************************************/

/**
* lightbox styles
*/

.wdi_spider_popup_loading {
  /*background: url("../images/ajax_loader.gif") no-repeat scroll 0 0 / 50px 50px rgba(0, 0, 0, 0);*/
  background-image: url("../images/ajax_loader.png");
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 50px 50px;
  border: none !important;
  display: none;
  height: 50px;
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
  overflow: hidden;
  position: fixed;
  top: 50%;
  width: 50px;
  z-index: 10102;
  -moz-animation: spin 2.5s infinite linear;
  -o-animation: spin 2.5s infinite linear;
  -webkit-animation: spin 2.5s infinite linear;
  animation: spin 2.5s infinite linear;
}

.wdi_spider_popup_overlay {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10100;
}

div[id^="wdi_container"] p {
  padding: 0 !important;
  margin: 0 !important;
}

.wdi_spider_popup_loading,
.footer-list-block .bwp_gallery .wdi_spider_popup_loading,
.footer-list-block .bwp_gallery_tags .wdi_spider_popup_loading {
  /*background: url("../images/ajax_loader.gif") no-repeat scroll 0 0 / 50px 50px rgba(0, 0, 0, 0);*/
  background-image: url("../images/ajax_loader.png");
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 50px 50px;
  border: none !important;
  display: none;
  height: 50px;
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
  overflow: hidden;
  position: fixed;
  top: 50%;
  width: 50px;
  z-index: 10102;

  -moz-animation: spin 2.5s infinite linear;
  -o-animation: spin 2.5s infinite linear;
  -webkit-animation: spin 2.5s infinite linear;
  animation: spin 2.5s infinite linear;
}

.wdi_spider_ajax_loading {
  border: none !important;

  -moz-animation: spin 2.5s infinite linear;
  -o-animation: spin 2.5s infinite linear;
  -webkit-animation: spin 2.5s infinite linear;
  animation: spin 2.5s infinite linear;
}

.wdi_spider_popup_overlay,
.footer-list-block .bwp_gallery .wdi_spider_popup_overlay,
.footer-list-block .bwp_gallery_tags .wdi_spider_popup_overlay {
  cursor: pointer;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10100;
}

.wdi_spider_popup_close,
.wdi_spider_popup_close_fullscreen {
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
  cursor: pointer;
  display: table;
  line-height: 0;
  position: absolute;
  z-index: 11100;
}

#wdi_spider_popup_left {
  left: 0;
}

#wdi_spider_popup_right {
  right: 0;
}

#wdi_spider_popup_left:hover,
#wdi_spider_popup_right:hover {
  visibility: visible;
}

#wdi_spider_popup_left:hover span {
  left: 20px;
}

#wdi_spider_popup_right:hover span {
  left: auto;
  right: 20px;
}

#wdi_spider_popup_left,
#wdi_spider_popup_right {
  background: transparent url("../images/blank.gif") repeat scroll 0 0;
  bottom: 35%;
  cursor: pointer;
  display: inline;
  height: 30%;
  outline: medium none;
  position: absolute;
  width: 35%;
  z-index: 10130;
}

#wdi_spider_popup_left-ico,
#wdi_spider_popup_right-ico {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: table;
  left: -9999px;
  line-height: 0;
  margin-top: -15px;
  position: absolute;
  top: 50%;
  z-index: 10135;
}

.wdi_image_info_container1 {
  height: 100%;
  margin: 0 auto;
  position: absolute;
  width: 100%;
}

.wdi_image_info_container2 {
  display: table;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  width: 100%;
}

.wdi_image_info_spun {
  display: table-cell;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.wdi_image_info {
  display: inline-block;
  position: relative;
  text-decoration: none;
  word-wrap: break-word;
  z-index: 11;
}

.wdi_photo_wrap_inner {
  text-align: center;
}

.wdi_feed_item[wdi_type="slideshow"] .fa-clone {

  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.wdi_js_error_no_animate,.wdi_token_error{
  text-align: center;
  font-size: 14px;
}
.wdi_js_error {
  text-align: center;

  -webkit-animation-name: wdi_js_error;
  -moz-animation-name: wdi_js_error;
  -o-animation-name: wdi_js_error;
  animation-name: wdi_js_error;

  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;

  -webkit-animation-delay: 20s;
  -moz-animation-delay: 20s;
  -o-animation-delay: 20s;
  animation-delay: 20s;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  color: #cc0000;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);

  font-size: 12px;
}

@keyframes wdi_js_error {
  from {
    visibility: hidden;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  to {
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

/* layout specific styles */

/* thumbnails */
/* .wdi_layout_th */

.wdi_layout_th .wdi_feed_container {
  min-width: 160px;
  margin: 0 auto;
}

.wdi_layout_th .wdi_feed_wrapper {
  margin: 0 auto;
}

.wdi_layout_th .wdi_header_wrapper {
  display: inline-table;
}

.wdi_layout_th .wdi_header_img_wrap, .wdi_users_img_wrap {
  overflow: hidden;
}

.wdi_layout_th .wdi_header_text {
  display: table-cell;
  vertical-align: middle;
}

.wdi_layout_th .wdi_single_user {
  display: inline-block;
  float: left;
}

.wdi_layout_th .wdi_user_img_wrap {
  display: inline-block;
  float: left;
  /*margin: 0 0 0 -100% !important;*/
  position: relative;
}

.wdi_layout_th .wdi_header_user_text {
  display: inline-block;
  float: left;
  width: 100%;

}

.wdi_layout_th .wdi_followers,
.wdi_layout_th .wdi_posts {
  display: inline-block;
}

.wdi_layout_th .wdi_feed_container .wdi_feed_info .wdi_header_user_text h3 {
  display: inline-block;
  text-transform: none; 
}

.wdi_layout_th .wdi_header_user_text h3:hover {
  cursor: pointer;
}

.wdi_layout_th .wdi_user_img_wrap img {
  overflow: hidden;
  display: block;
  margin:0;
}

.wdi_layout_th .wdi_feed_container .wdi_feed_info .wdi_header_user_text h3 {
  margin-left: 10px;
  margin-bottom: 0px;
  padding:0;
}

.wdi_layout_th .wdi_feed_container .wdi_feed_info .wdi_media_info p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.wdi_layout_th .wdi_user_controls {
  margin-left: 0;
  display: inline-block;
  vertical-align: middle;
}

.wdi_layout_th .wdi_bio {
  float: left;
}

.wdi_layout_th .wdi_feed_container .wdi_feed_info .wdi_header_user_text .wdi_followers {
  margin-left: 10px;
}

.wdi_layout_th .wdi_filter_overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.1s ease;
}

.wdi_layout_th .wdi_filter_overlay:hover {
  opacity: 0.9;
  cursor: pointer;
}

.wdi_layout_th .wdi_photo_wrap {
  position: relative;
  display: inline-block;
  overflow: hidden;
  box-sizing: content-box;
}

.wdi_layout_th .wdi_photo_wrap:after {
  padding-top: 100%;
  display: block;
  content: "";
}

.wdi_layout_th .wdi_photo_wrap_inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.wdi_layout_th .wdi_photo_img {
  width: 100%;
  height: 100%;
}

.wdi_layout_th .wdi_img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: none;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.wdi_layout_th .wdi_shape_portrait .wdi_img,
.wdi_layout_th .wdi_shape_square .wdi_img {
  width: 100%;
  height: auto;
}

.wdi_layout_th .wdi_shape_landscape .wdi_img {
  height: 100% !important; /*overwrite some themes styles*/
  width: auto;
}

.wdi_layout_th .wdi_feed_item {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}

.wdi_layout_th .wdi_photo_meta {
  text-align: center;
  padding-bottom: 10px;
  line-height: 1.4;
}

.wdi_layout_th .wdi_thumb_comments i,
.wdi_layout_th .wdi_thumb_likes i {
  width: 100%;
}

.wdi_layout_th .wdi_photo_title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

.wdi_layout_th .wdi_photo_title:hover {
  cursor: pointer;
}

@-moz-keyframes wdi_rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-o-keyframes wdi_rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-ms-keyframes wdi_rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes wdi_rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes wdi_rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wdi_layout_th .wdi_load_more_spinner {
  display: table-cell;
  vertical-align: middle;

  -webkit-animation: wdi_rotate 1.5s infinite;
  -moz-animation: wdi_rotate 1.5s infinite;
  -o-animation: wdi_rotate 1.5s infinite;
  animation: wdi_rotate 1.5s infinite;
}

.wdi_layout_th .wdi_load_more,
.wdi_layout_th .wdi_spinner {
  padding: 10px;
  transition: all 0.2s ease;
}

.wdi_layout_th .wdi_load_more_wrap,
.wdi_layout_th .wdi_spinner_wrap {
  display: inline-table;
  box-sizing: border-box;
}

.wdi_layout_th .wdi_load_more_wrap_inner,
.wdi_layout_th .wdi_spinner_wrap_inner {
  display: table-row;
  text-align: center;
}

.wdi_layout_th .wdi_load_more_text {
  display: table-cell;
  vertical-align: middle;
}

.wdi_layout_th .wdi_load_more_text img {
  float: left;
}

.wdi_layout_th .wdi_load_more_wrap:hover {
  cursor: pointer;
}

.wdi_layout_th .wdi_photo_overlay:hover {
  cursor: pointer;
}

.wdi_layout_th .wdi_photo_overlay i {
  opacity: 1;
}

.wdi_layout_th .wdi_load_more_container {
  display: inline-block;
}

/* masonry */
/* .wdi_layout_ms */

/* image browser */
/* .wdi_layout_ib */

.wdi_layout_ib .wdi_feed_container {
  min-width: 160px;
  margin: 0 auto;
}

.wdi_layout_ib .wdi_feed_wrapper {
  margin: 0 auto;
}

.wdi_layout_ib .wdi_header_wrapper {
  display: inline-table;
}

.wdi_layout_ib .wdi_header_img_wrap,
.wdi_layout_ib .wdi_users_img_wrap {
  overflow: hidden;
}

.wdi_layout_ib .wdi_header_text {
  display: table-cell;
  vertical-align: middle;
}

.wdi_layout_ib .wdi_single_user {
  display: inline-block;
  float: left;
}

.wdi_layout_ib .wdi_user_img_wrap {
  display: inline-block;
  float: left;
  /*margin: 0 0 0 -100% !important;*/
  position: relative;
}

.wdi_layout_ib .wdi_header_user_text {
  display: inline-block;
  float: left;
  width: 100%;

}

.wdi_layout_ib .wdi_followers,
.wdi_layout_ib .wdi_posts {
  display: inline-block;
}

.wdi_layout_ib .wdi_feed_container .wdi_feed_info .wdi_header_user_text h3 {
  display: inline-block;
  text-transform: none;
}

.wdi_layout_ib .wdi_header_user_text h3:hover {
  cursor: pointer;
}

.wdi_layout_ib .wdi_user_img_wrap img {
  overflow: hidden;
  display: block;
  margin:0;
}

.wdi_layout_ib .wdi_feed_container .wdi_feed_info .wdi_header_user_text h3 {
  margin-left: 10px;
  margin-bottom: 0;
  padding: 0;
}

.wdi_layout_ib .wdi_feed_container .wdi_feed_info .wdi_media_info  p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.wdi_layout_ib .wdi_user_controls {
  margin-left: 0;
  display: inline-block;
  vertical-align: middle;
}

.wdi_layout_ib .wdi_bio {
  float: left;
}

.wdi_layout_ib .wdi_feed_container .wdi_feed_info .wdi_header_user_text .wdi_followers {
  margin-left: 10px;
}

.wdi_layout_ib .wdi_filter_overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.1s ease;
}

.wdi_layout_ib .wdi_filter_overlay:hover {
  opacity: 0.9;
  cursor: pointer;
}

.wdi_layout_ib .wdi_photo_wrap {

  overflow: hidden;
  box-sizing: content-box;
}

.wdi_layout_ib .wdi_img {
  width: 100%;
  display: block;
}

.wdi_layout_ib .wdi_feed_item {
  display: inline-block;
  overflow: hidden;
}

.wdi_layout_ib .wdi_photo_meta {
  text-align: center;
  padding-bottom: 10px;
}

.wdi_layout_ib .wdi_thumb_comments i,
.wdi_layout_ib .wdi_thumb_likes i {
  width: 100%;
}

.wdi_layout_ib .wdi_photo_title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

.wdi_layout_ib .wdi_photo_title:hover {
  cursor: pointer;
}

.wdi_layout_ib .wdi_load_more {
  padding: 10px;
  transition: all 0.2s ease;
}

.wdi_layout_ib .wdi_load_more_wrap {
  display: inline-table;
  box-sizing: border-box;
}

.wdi_layout_ib .wdi_load_more_wrap_inner {
  display: table-row;
  text-align: center;
}

.wdi_layout_ib .wdi_load_more_text {
  display: table-cell;
  vertical-align: middle;
}

.wdi_layout_ib .wdi_load_more_text img {
  float: left;
}

.wdi_layout_ib .wdi_load_more_wrap:hover {
  cursor: pointer;
}

.wdi_layout_ib .wdi_photo_overlay:hover {
  cursor: pointer;
}

.wdi_layout_ib .wdi_load_more_container {
  display: inline-block;
}

/* blog style*/
/* .wdi_layout_bs */

.wdi_embed_frame video{
  display: inline-block;
}

/*reset style */
.wdi_image_container img{
  display:inline;
}


/*Carousel*/
.wdi_carousel_btn_container {
    height: 20px;
    position: absolute;
    width: 100%;
    bottom: 65px;
	z-index: 10150;  
	font-size: 0;
}
.wdi_carousel_btn_container span {
    background:rgba(255, 255, 255, 0.5);
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;   
	margin-right: 9px;
    position:relative;
	left:0;
	transition:left .3s;
	-webkit-transition:left .3s;
	-moz-transition:left .3s;
}
.wdi_carousel_btn_container span:last-child {  
	margin-right: 0;
}
.wdi_carousel_btn_container span.active {
    background: #ffffff;
}
.wdi_carousel_btn_container span.small {
    width: 7px;
    height: 7px;
	margin-right: 12px;
	top: -2px;
}
.wdi_carousel_btn_content {
    display: inline-block;
    /*width: 250px;*/
    overflow: hidden;
    white-space: nowrap;
    position:relative;
	padding: 8px 9px;
    background: rgba(0, 0, 0, 0.17);
    border-radius: 21px;
}
.wdi_image_container .carousel_media:not(.active){
	display:none;
}
.wdi_website{
  width: 100%;
  display: block;
  float: left;
}
.wdi_website a{
  box-shadow:none !important;
  color: #003569;
  text-decoration: none;
}